body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.light-theme {
  background-color: #0A192F;
  transition: background-color 0.3s, color 0.3s;
  color: #CCD6F6;
}

.dark-theme {
  background-color: #0D1117;
  color: #E6E6E6;
  transition: background-color 0.3s, color 0.3s;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 20px;
}
.nav-holder{
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(71, 46, 46, 0.5);
  backdrop-filter: blur(10px);
}
nav a{
  width: fit-content;
  height: 40px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #64FFDA;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
nav a:hover{
  text-decoration: underline;
  color: gray;
  font-size: 22px;
}
nav button{
  background-color: transparent;
  font-size: 35px;
  font-weight: 700;
  color: gray;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.home_holder{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  /* margin: auto; */
  align-items: center;
  justify-content: center;
}
.home_holder button{
  width: 140px;
  height: 50px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 800;
  background-color: #112240;
  border: 2px solid #64FFDA;
}
#home ,#about, #skill, #contact, #project{
  width: 100%;
  height: 100vh;
  padding: 20px;

}
#about, #project, #contact{
  height: auto;
}
#home h3{
  font-size: 30px;
  font-weight: 800;
}
#contact, #home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.upperbtn a{
  text-decoration: none;
}
.projectHolder{
  width: 80%;
   height: auto;
  padding: 20px;
  /* background-color: #64FFDA; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.projectHolder img{
  width: 100%;
  height: 200px;
}
.singleProject{
  /* width: fit-content; */
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: grey;
  padding: 5px;
  align-items: center;
  border: 4px solid #E6E6E6;
}
.singleProject a{
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #0A192F;
}
.singleProject i{
  font-weight: 600;
  max-height: 100px;   
  overflow-y: auto;  
  /* padding-right: 10px; */
}
.singleProject:hover a{
  color: white;
}
.singleProject i::-webkit-scrollbar {
  width: 3px;
  background-color: whitesmoke;
}
.singleProject i::-webkit-scrollbar-thumb {
  background-color: #64FFDA;
  border-radius: 10px;
}

.singleProject i::-webkit-scrollbar-track {
  background-color: #112240;
}
#about div{
  /* width: 80%; */
  max-width: 800px;
  padding: 20px;
  line-height: "1.8";
  /* background-color: red; */
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* align-items: center; */
  margin: 50px auto;
  /* justify-content: center; */
}
#about p, #about li{
  font-size: 24px;
  font-weight: 600;
  text-align: justify;
}
.skillholder{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
  margin: auto;
  /* background-color: aquamarine; */
}

.front{
  /* background-color: red; */
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  /* justify-content: center; */
}
.contactholder{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  width: 80%;
  border: 2px solid #64FFDA;
}
.contact_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
.footer{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.icons{
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* justify-content: space-around; */
}
.navholder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  /* padding: 10px; */
  /* background-color: #64FFDA; */
}
.dropdown{
  display: none;
}
@media (max-width: 990px){

.singleProject{
  width: 100%;
  flex-direction: row;
}
.projectHolder{
  flex-direction: column;
}
.projectHolder img{
  width: 40%;
}
.singleProject div{
  width: 50%;
}
}

@media (max-width: 530px){
  .singleProject{
  width: 100%;
  flex-direction: column;
}
  .projectHolder img{
  width: 100%;
}
}

@media (max-width: 700px){
  #about p, #about li{
    font-size: 19px;
    width: 100%;
    /* background-color: #121212; */
  }
  .front{
    flex-direction: column;
  }
  .navholder{
    display: none;
  }
  .dropdown{
    position: relative;
    display: flex;
  }
  .dropMenu {
position: absolute;
  top: 100%;
  right: 0;
  background-color: #0D1117;
  display: none;
  flex-direction: column;
  width: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 100;
  }
  .dropdown:hover .dropMenu{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}