body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}
.light-theme {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
  background-color: #121212;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

nav{
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(71, 46, 46, 0.5);
  backdrop-filter: blur(10px);
}
nav a{
  width: fit-content;
  height: 40px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: grey;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
nav a:hover{
  text-decoration: underline;
  font-size: 22px;
}
nav button{
  background-color: grey;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}
nav button:hover{
  background-color: transparent;
  padding: 20px;
}

.home_holder{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.home_holder button{
  width: 140px;
  height: 50px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 800;
}
#home ,#about, #skill, #contact, #project{
  width: 100%;
  height: auto;
  padding: 30px;

}
/* #project{
  width: 100%;
   height: 450px;
  padding: 50px;
  background-color: aqua;
} */

#about div{
  width: 80%;
  /* background-color: aqua; */
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* align-items: center; */
  margin: auto;
  /* justify-content: center; */
}
#about p, #about li{
  font-size: 24px;
  font-weight: 600;
}
.skillholder{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
  margin: auto;
  /* background-color: aquamarine; */
}

.front{
  /* background-color: red; */
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  /* justify-content: center; */
}
.contactholder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  
}
.contact_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
.footer{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.icons{
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* justify-content: space-around; */
}
.navholder{
  display: flex;
  gap: 10px;
  /* background-color: firebrick; */
}
.dropdown{
  display: none;
}


@media (max-width: 700px){
  #about p, #about li{
    font-size: 19px;
    width: 100%;
    /* background-color: #121212; */
  }
  .front{
    flex-direction: column;
  }
  .navholder{
    display: none;
  }
  .dropdown{
    position: relative;
    display: flex;
  }
  .dropMenu {
  position: absolute;
  top: 100%;
  /* left: 0; */
  right: 0;
  background-color: white;
  color: black;
  display: none;
  width: 150px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  }
  .dropdown:hover .dropMenu{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}